@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap");
* {
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  max-height: 10vh;
  max-width: 100vw;
  background-color: #222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}
.left-ct {
  justify-content: flex-start;
  position: relative;
  max-width: 10vw;
}
#logo {
  height: 100%;
}
.center-ct > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.center-ct > ul li {
  position: relative;
  box-sizing: border-box;
  height: 10vh;
  align-items: center;
  padding: 0 20px;
  list-style-type: none;
}
.center-ct > ul li > a {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
}
.extra-style {
  display: flex;
  align-items: center;
  margin: 0.7rem;
  background-color: #fff;
  border-radius: 5%;
}

.extra-style > a {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  color: #000;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
}
.center-ct > ul li > a:hover {
  background-color: black;
  color: white;
  transition: all ease-in-out 200ms;
}
.hero {
  min-height: 90vh;
  min-width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/pexels-cottonbro-7170768.jpg") center/cover no-repeat fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  font-family: "Popins", sans-serif;
  color: azure;
  font-size: 5rem;
  font-weight: 900;
}

.content {
  min-height: 100vh;
  background-color: #222;
}
